Repository SwaprHQ/swapr-dapp, pull requests merged in 2022-09, with the labels that each got.

#1490 Fixes for smoke tests
  tests/cypress/integration/smoke/SwapBoxTests.ts
  tests/pages/SwapPage.ts
Labels: ready-for-tests

#1460 fix: cleanup input on add liquidity
  src/pages/AddLiquidity/index.tsx
Labels: QA, ready-for-tests, ready-for-synpress-tests

#1486 fix: laggy input on swap
  src/hooks/useAbortController.ts
  src/state/swap/hooks.ts
Labels: QA, ready-for-tests, ready-for-synpress-tests

#1467 Add Content Security Policy
  .env.development
  .env.development.local
  .gitignore
  config-overrides.js
  public/index.html
  src/index.tsx
Labels: QA, ready-for-tests, ready-for-synpress-tests

#1454 Regression switching network
  tests/synpress/specs/01transactionless/walletInteraction/SwitchingNetworkTests.ts
Labels: ready-for-tests, ready-for-synpress-tests

#1465 Updated synpress version
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  package.json
  start-tests.sh
  tests/pages/BridgePage.ts
  tests/pages/MenuBar.ts
  tests/pages/NetworkSwitcher.ts
  tests/pages/SwapPage.ts
  tests/pages/TokenMenu.ts
  tests/support/index.js
  tests/synpress/.eslintrc.js
  tests/synpress/specs/01transactionless/walletInteraction/SwitchingNetworkTests.ts
  tests/synpress/specs/01transactionless/walletInteraction/WalletConnectionTests.ts
  tests/synpress/specs/02transactionfull/bridge/BridgeTests.ts
  tests/synpress/specs/02transactionfull/rewards/CreatingCampaignTests.ts
  tests/synpress/specs/02transactionfull/swap/SwapTests.ts
  tests/synpress/specs/02transactionfull/swap/WrapTests.ts
  tests/synpress/synpress.config.ts
  tests/synpress/synpress.json
  tests/synpress/tsconfig.json
  tests/utils/MetamaskNetworkHandler.ts
  tests/utils/enums/ChainsEnum.ts
  yarn.lock
Labels: QA, ready-for-synpress-tests
