Repository SwaprHQ/swapr-dapp, pull requests merged in 2022-06, with the labels that each got.

#1055 bugfix: Eco Router returns no results on Polygon
  src/lib/eco-router/api.ts
  src/lib/eco-router/platforms.ts
Labels: bug, Eco Router

#1048 feature: add Uniswap v3 support
  package.json
  src/constants/index.tsx
  src/hooks/useApproveCallback.ts
  src/hooks/useSwapCallback.ts
  src/lib/eco-router/api.ts
  src/lib/eco-router/platforms.ts
  src/utils/prices.ts
  yarn.lock
Labels: Eco Router

#1042 Feature/914 toast message
  src/components/Popups/PopupItem.tsx
  src/components/Popups/TransactionPopup.tsx
  src/hooks/useSwapCallback.ts
  src/state/application/actions.ts
  src/state/application/hooks.tsx
  src/state/transactions/updater.tsx
  src/theme/index.tsx
Labels: bug, Eco Router

#1009 Feature/981 add gnosis protocol v2 trade to eco router
  package.json
  public/locales/en.json
  src/assets/svg/cow-protocol.svg
  src/components/AccountDetails/Transaction.tsx
  src/components/AccountDetails/index.tsx
  src/components/AddressInputPanel/index.tsx
  src/components/ModalViews/index.tsx
  src/components/Popups/TransactionPopup.tsx
  src/components/Row/index.tsx
  src/components/TokenWarningModal/index.tsx
  src/components/TransactionConfirmationModal/index.tsx
  src/components/swap/ConfirmSwapModal.tsx
  src/components/swap/SwapButtons/SwapButtons.tsx
  src/components/swap/SwapPlatformSelector.tsx
  src/constants/index.tsx
  src/hooks/useApproveCallback.ts
  src/hooks/useSwapCallback.ts
  src/hooks/useWrapCallback.ts
  src/lib/eco-router/api.ts
  src/pages/Swap/index.tsx
  src/state/application/actions.ts
  src/state/transactions/actions.ts
  src/state/transactions/hooks.tsx
  src/state/transactions/reducer.test.ts
  src/state/transactions/reducer.ts
  src/state/transactions/updater.tsx
  src/utils/index.ts
  src/utils/prices.ts
  yarn.lock
Labels: enhancement, Eco Router
